*, html, body {
    padding : 0;
    margin : 0 ;
}

/* Bagian Navbar YgY! */
a{
    text-decoration: none; 
    font-size: 20px;
    padding: 14px 10px;
    font-family: 'Russo One', sans-serif;
}

ul{
    padding: 14px}

li{
    list-style: none; 
    display: inline;}

li a{
    background: #222; 
    color:#d4d4d4;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
}

li a:hover{
    background: #4da4ff; 
    color:#fff;}

.satu{
    background: #222; 
    height: 55px;
}