*, html, body {
    margin:0;
    padding:0;
}

.container {
    height: 100vh;
    width:100%;
    background: linear-gradient( 	#FF1493,  	#9400D3,  	#483D8B);
}

.wrapper {
    height: 100px;
    width: 100%;
    background-color: #483D8B;
    list-style-type: none;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.item li a {
    display: flex ;
    padding: 35px;
    text-decoration: none;
    color: gold;
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    font-family: 'The Nautigal', cursive;
}

.item li a:hover {
    display: flex ;
    padding: 45px;
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    font-family: 'The Nautigal', cursive;
    transition: ease-in-out 0.5s;
}

.active {
    background-color: #FF1493;
    opacity: 75%;
}

.bungkus-kalimat {
    margin-top: 20px;
}

.kalimat {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-family: 'The Nautigal', cursive;
}

.kalimat h1 {
    font-size: 35px;
    color: #eaeaea;
    text-shadow:0 0 5px #e61940, 
    0 0 15px #e61940, 0 0 20px #e61940, 
    0 0 40px #e61940, 0 0 60px #ff0000, 
    0 0 10px #f5f6fa, 0 0 98px #ff0000;
    animation: neonEffect 12s infinite;
}

.bungkus-gambar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.gambar img {
    width: 100px;
    height: 100px;
}

.kata {
    text-align: center;
    margin-top: 20px;
}

.kata p i {
    font-size: 24px;
    opacity: 75%;
}