*, html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkviolet;
}

.wrapper {
    width: 100%;
    height: 50px;
    background: linear-gradient(rgb(102, 0, 61),rgb(164, 0, 156));
}

.wrapper { 
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    list-style-type: none;
}

.item li a { 
    text-decoration: none;
    list-style-type: none;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Ibarra Real Nova', serif;
    color: white;
}

.item li a:hover { 
    text-decoration: none;
    list-style-type: none;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Ibarra Real Nova', serif;
    color: darkslategray;
    transition: 0.5s;
}

.ar {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.ar h1 {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
    color: gold;
    opacity: 90%;
}

.cerpen {
    margin-left: 20px;
    background-color: crimson;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    opacity: 75%;
}

.latar {
    width: 70%;
    height: auto;
    margin-top: 35px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    border-radius: 25px 25px 25px 25px;
    opacity: 80%;
}

.p {
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Tajawal', sans-serif;
}

.p span {
    height: 700px;
}

