

body {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20220218/pngtree-love-romantic-aesthetic-background-black-pink-gradient-heart-background-image_960815.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.tengah {
    background: linear-gradient(#9896F0, #FBC8D5);
    width: 800px;
    height: auto;
    display: flex;
    margin-top: 100px;
    border-radius: 25px 25px 25px 25px;
}

.tengah h1 {
    text-align: center;
    padding-left: 55px;
    padding-top: 55px;
    font-family: 'Jolly Lodger', cursive;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: azure;
}

.tengah p {
    font-size: 29px;
    padding-left: 55px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Jolly Lodger', cursive;
    color: azure;
    font-weight: 300;
}

.tengah p span {
    color: rgb(243, 0, 247);
    font-stretch: condensed;
}

.tengah img {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 75px;
    border-radius: 25px 25px 25px 25px;
}

.tengah a {
    font-size: 31px;
    text-align: center;
    padding-left: 195px;
}